/* custom hljs styles*/
:root {
    --bg: #0d242d;
    --fg: #ffffff;
    --fg-alt: #dceec8;
    --black: #173f4f; /* alias: darkblue */
    --black90: #2f5361;
    --black75: #516f7b;
    --black50: #8b9fa7;
    --red: #c86663;
    --darkred: #cc3545;
    --green: #73ba25;
    --green90: #81c13b;
    --green75: #96cb5c;
    --green50: #b0dc92;
    --darkgreen: #6da741;
    --darkgreen90: #7cb054;
    --darkgreen75: #92bc71;
    --darkgreen50: #b6d3a0;
    --darkgreen25: #dae9cf;
    --yellow: #ffc107;
    --orange: #E19F38;
    --blue: #21a4df;
    --blue90: #38ade2;
    --blue75: #59bbe7;
    --blue50: #90d1ef;
    --darkblue50: #73add3;
    --darkblue75: #5795d2;
    --darkblue90: #2b84cd;
    --darkblue: #087ac6;
    --magenta: #1aad95;
    --darkmagenta: #00a489;
    /* --cyan: #4eac89; */
    --cyan: #35b9ab;
    --cyan90: #4ac0b4;
    --cyan75: #68cbc0;
    --cyan50: #9adcd5;
    --darkcyan: #6ab37c;
    --white: #ffffff;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: .25em
}

code.hljs {
    padding: 1px 1px;
    /*background: #14404E;*/
}

.hljs {
    color: var(--fg);
    background: var(--bg); /* #14404E */
    /* display: block; */
    /* overflow-x: auto; */
    /* padding: 0.5em; */
}

.hljs-comment {
    color: var(--black);
    font-weight: 300;
    font-style: italic;
}

.hljs-keyword {
    /* keyword in a regular Algol style language */
    /*color: var(--black75);*/
    background-color: #6da741;
}

.hljs-meta {
    background-color: var(--magenta);
}

.hljs-meta.keyword {
    background-color: var(--darkcyan)
}

.hljs-builtin {
    /* built-in or library object (constant, class, function) */
    background-color: var(--blue);
    font-weight: 600;
}

.hljs-type {
    /* data type (string, int, array, etc.) */
    background-color: var(--orange);
    color: var(--black);
}

.hljs-literal {
    /* special identifier for a built-in value (true, false, null etc) */
    background-color: var(--darkgreen)
}

.hljs-number {
    /* number incl. units, modifiers if any */
    background-color: #4eac89;
    font-weight: 600;
}

.hljs-operator {
    /* operators (+. -, >>, |, == etc)*/
    background-color: var(--fg);
    color: var(--black);
}

.hljs-punctuation {
    /* auxiliary punctuation (use subtle colours) */
    background-color: var(--fg-alt)
}

.hljs-property {
    /* object property, (obj.prop.value) */
    background-color: var(--yellow);
    color: var(--black);
}

.hljs-regexp {
    /* literal regular expression */
    background-color: var(--blue75)
}

.hljs-string, .hljs-meta-string {
    /* literal string, character */
    background-color: var(--red);
}

.hljs-params {
    /* function parameters */
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 300;
}

.hljs-char.escape {
    background-color: var(--red);
}

.hljs-variable {
    background-color: var(--red);
}

.hljs-variable.constant {
    background-color: var(--magenta);
    font-weight: 600;
}


/* .hljs-variable {
    color: var(--yellow);
    font-weight: 100;
} */

