@tailwind base;
@tailwind components;
@tailwind utilities;

.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.font-firacode {
    font-family: 'Fira Code', monospace;
    font-feature-settings: 'cv01', 'cv02', 'cv10', 'cv11', 'cv14', 'cv16', 'cv18', 'cv31', 'cv29', 'cv30', 'ss01', 'ss02', 'cv22', 'ss09', 'cv26', 'cv32', 'ss03', 'ss04', 'ss05', 'ss06';
}

.font-ibm {
    font-family: 'IBM Plex Sans', sans-serif;
}

.click {
    cursor: pointer;
    display: flex;
}

.click:hover {
    background: #0E242D;
    transition-duration: .4s;
    color: #dceec8;
}

.iconclick {
    cursor: pointer;
}

.iconclick:hover {
    transition-delay: .1s;
    transition-duration: .35s;
    color: #00a489;
}